<footer>
    <div class="row">
        <div class="col">
            <img src="assets/Socialmedia/tech.jpg" alt="" class="logo">
            <p>When you start lerning owne you can learn many things </p>
        </div>
        <div class="col">
            <h3>Office <div class="underline"><span></span></div>
            </h3>
            <p>Techwave</p>
            <p>Hitech City</p>
            <p>Hyderabad, pin 500070</p>
            <p>sanguadinarayana@gmail.com</p>
            <p>+91-9666702556</p>
        </div>
        <div class="col">
            <h3>Newsletter <div class="underline"><span></span></div>
            </h3>
            <form>
                <input type="email" placeholder="Eneter you email id" required>
            </form>
            <div class="social-media">
                <img class="media" src="assets/Socialmedia/fb.jpg" alt="">
                <img class="media" src="assets/Socialmedia/twitter.jpg" alt="">

                <img class="media" src="assets/Socialmedia/insta.jpg" alt="">

            </div>
        </div>
    </div>

    <hr>
    <p class="copyright">© 2021 Copyright: sanguadinarayana@gmail.com</p>
</footer>