<mat-grid-list cols="4" rowHeight="100%">
    <mat-grid-tile [colspan]="cols" [rowspan]="rows" class="bcg">
        <div class="container">
            <table mat-table [dataSource]="dataSource">
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> id </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- FirstName Column -->
                <ng-container matColumnDef="FirstName">
                    <th mat-header-cell *matHeaderCellDef> FirstName </th>
                    <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
                </ng-container>

                <!-- LastName Column -->
                <ng-container matColumnDef="LastName">
                    <th mat-header-cell *matHeaderCellDef> LastName </th>
                    <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
                </ng-container>

                <!-- AccountNumber Column -->
                <ng-container matColumnDef="AccountNumber">
                    <th mat-header-cell *matHeaderCellDef> AccountNumber </th>
                    <td mat-cell *matCellDef="let element"> {{element.AccountNumber}} </td>
                </ng-container>
                <!-- ConfirmAccount Column -->
                <ng-container matColumnDef="ConfirmAccount">
                    <th mat-header-cell *matHeaderCellDef> ConfirmAccount </th>
                    <td mat-cell *matCellDef="let element"> {{element.ConfirmAccount}} </td>
                </ng-container>
                <!-- BankName Column -->
                <ng-container matColumnDef="BankName">
                    <th mat-header-cell *matHeaderCellDef> BankName </th>
                    <td mat-cell *matCellDef="let element"> {{element.BankName}} </td>
                </ng-container>
                <!-- IFSC Column -->
                <ng-container matColumnDef="IFSC">
                    <th mat-header-cell *matHeaderCellDef> IFSC </th>
                    <td mat-cell *matCellDef="let element"> {{element.IFSC}} </td>
                </ng-container>
                <!-- BranchName -->
                <ng-container matColumnDef="BranchName">
                    <th mat-header-cell *matHeaderCellDef> BranchName </th>
                    <td mat-cell *matCellDef="let element"> {{element.BranchName}} </td>
                </ng-container>
                <!-- remarks -->
                <<ng-container matColumnDef="Remarks">
                    <th mat-header-cell *matHeaderCellDef> Remarks </th>
                    <td mat-cell *matCellDef="let element"> {{element.Remarks}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

    </mat-grid-tile>
    <mat-grid-tile>
        <div class="container1">
            <mat-card style="background-color: rgb(237, 231, 241);">
                <form [formGroup]="userDetails" #formGroupDirective="ngForm"
                    (ngSubmit)="onSubmit(userDetails, formGroupDirective)">
                    <div class="controles-container">
                        <mat-form-field>
                            <input type="text" matInput name="FirstName" formControlName="FirstName"
                                placeholder="FirstName">
                                <mat-error *ngIf="(f['FirstName'].touched || submitted) && f['FirstName'].errors?.['required']">firsytName is reuired*</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput name="LastName" formControlName="LastName" id=""
                                placeholder="LastName">
                                <mat-error *ngIf="(f['LastName'].touched || submitted) && f['LastName'].errors?.['required']">LastName is reuired*</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput name="Account" formControlName="AccountNumber" id=""
                                placeholder="AccountNumber">
                                <mat-error *ngIf="(f['AccountNumber'].touched || submitted) && f['AccountNumber'].errors?.['required']">AccountNumber is reuired*</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput name="Confirmnumber" formControlName="ConfirmAccount" id=""
                                placeholder="ConfirmAccount">
                                 <!-- <mat-error *ngIf="">Match*</mat-error> -->
                                 <mat-error *ngIf="(f['ConfirmAccount'].touched || submitted) && f['ConfirmAccount'].errors?.['required']">this is reuired*</mat-error>
                                <mat-error *ngIf="f['ConfirmAccount'].errors?.['MatchAccount']">Match***</mat-error>
                            </mat-form-field>
                     
                        <mat-form-field>
                            <input type="text" matInput name="BankName" formControlName="BankName" id=""
                                placeholder="BankName">
                                <mat-error *ngIf="(f['BankName'].touched || submitted) && f['BankName'].errors?.['required']">BankName reuired*</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput name="IFSC" formControlName="IFSC" id="" placeholder="IFSCCode">
                            <mat-error *ngIf="(f['IFSC'].touched || submitted) && f['IFSC'].errors?.['required']">IFSC code reuired*</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput name="BranchName" formControlName="BranchName" id=""
                                placeholder="BranchName">
                                <mat-error *ngIf="(f['BranchName'].touched || submitted) && f['BranchName'].errors?.['required']">BranchName reuired*</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <!-- <input type="text" matInput name="Remarks" id="" formControlName="Remarks"
                            placeholder="remarks"> -->
                            <textarea matInput type="text" name="Remarks" formControlName="Remarks"
                                placeholder="remarks"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="btn" style="text-align: center;">
                        <button mat-raised-button type="submit" color="primary">Submit</button>
                    </div>
                </form>
            </mat-card>
        </div>

    </mat-grid-tile>
</mat-grid-list>