.controles-container{
    width: 100%;
    padding: 5%;
    mat-form-field{
      padding: 10px;
    }
}
.controles-container>*{
    width: 45%;
    height: 100%;
}
table {
    width: 100%;
  }
  .example-container{
    max-width: 100%;
    overflow: auto;
  }
  
  .mat-elevation-z8 th{
padding: 20px;

  }
  .mat-elevation-z8 td{
    padding: 20px;
text-align: center;
  }