mat-grid-list{
  margin-left: 5px;
 
 .container{
   
   width: 100%;
   top: 0;
   left: 0;
   position: absolute;
   table{
     width: 100%;
     th,td{
       text-align: center;
       padding: 10px;
     }
     th{
       background-color: rgb(255, 250, 250);
     }
     tr:nth-child(even) {
      background-color: Lightgreen;
  }
  tr:nth-child(odd) {
    background-color: rgb(235, 243, 235);
}
   }

 }
 .container1{
    width: 100%;
    margin-left: 3px;
    top: 0;
    left: 0;
    position: absolute; 
  
    .controles-container{
      width: 100%;
      margin-top: 20px;
     
      mat-form-field{
         padding: 5px;
        
      }
    }
    .controles-container>*{
      width: 45%;
     
    }
 }
}


