
<mat-card id="p">
    <!-- <form action="" class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="fluid">
            <div class="field">
                <label for="Username">Username</label>
                <input id="username" formControlName="username" type="email" pInputText />
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input id="password" formControlName="password" type="text" pInputText />
            </div>
            <div class="field">
                <button class="btn" pButton pRipple type="submit" [disabled]="loginForm.invalid" label="Submit"></button>
            </div>
        </div>
        </form> -->
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div><label>Username</label></div>
            <mat-form-field class="example-full-width" >
              
              <input matInput id="username" formControlName="username" type="email" >
            </mat-form-field><br>
            <div>
                <label>Password</label>
            </div>
            <mat-form-field class="example-full-width" >
                
                <input matInput id="password" formControlName="password" type="text" >
              </mat-form-field><br>
              <button mat-button color="primary" class="primary" type="submit" [disabled]="loginForm.invalid">Submit</button>
              
          </form>
</mat-card>
